{%  load static  %}

<!DOCTYPE html>
<html lang="en"> 
<head>
    <title>电影可视化</title>
    
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}"> 
</head> 

<body class="app">
<style>

.ciyuntu {
    clear: both;
    display: block;
    margin: auto;
}
</style>
    <img class="ciyuntu" width="600px" height="600px" src="/static/img/tmp/1.png" alt="{{ name }} 词云图" />
</body>
</html> 

